@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Bellefair', serif;
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.8rem;
}

nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.6rem;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
}

.bg-mobile {
  background: url('./assets/home/background-home-tablet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-destination {
  background: url('./assets/destination/background-destination-tablet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-crew {
  background: url('./assets/crew/background-crew-tablet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-crew {
  background: url('./assets/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bellefairFont {
  font-family: 'Bellefair', serif;
}

.imgCrewHigh {
  height: 40rem;
}

.navbar {
  backdrop-filter: blur(30px);
}

.font-bellefair {
  font-family: 'Bellefair', sans-serif;
}
